/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
   display: flex; 
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600 ;
    background-color: hotpink;
    border: 0;
    border-radius: 30px ;
    cursor: pointer;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px rgb(255, 105, 180)
} 

h2.titulo{
    color: black;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: hotpink;
}

/* estilo do cabeçalho*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color:rgb(176, 172, 172);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:black;
    transform:scale(1.05);
}

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav ul li{
    margin-right: 20px;
    display: inline-block;
    padding: 0% 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600 ;
    background-color: hotpink;
    border: 0;
    border-radius: 30px ;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px rgb(255, 105, 180)
}

/*ESTILO TOPO SITE*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color:black;
    font-size: 48px;
    line-height: 50px;
}

.topo-do-site .txt-topo-site h1 span{
    color: rgb(232, 23, 127);
}

.topo-do-site .txt-topo-site p{
    color: black;
    line-height: 50px;

}

/*ESTILO ESPECIALIDADES*/

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: black;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid rgb(215, 214, 214);
    margin-top: 45px;
    transition: 1.2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgb(169, 130, 149);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: hotpink;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}